<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Exchange.WebServices" version="2.2" targetFramework="net451" />
  <package id="Microsoft.Identity.Client" version="4.47.2" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Abstractions" version="6.22.0" targetFramework="net48" />
  <package id="nsoftware.IPWorks" version="24.0.9376" targetFramework="net48" />
  <package id="nsoftware.IPWorksEncrypt" version="24.0.9373" targetFramework="net48" />
  <package id="nsoftware.IPWorksSSH" version="24.0.9373" targetFramework="net48" />
  <package id="nsoftware.IPWorksZip" version="24.0.9373" targetFramework="net48" />
  <package id="smartystreets-dotnet-sdk" version="8.16.1" targetFramework="net48" />
  <package id="System.Configuration.ConfigurationManager" version="6.0.1" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Permissions" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
</packages>